body {
  margin: 0;
  background-color: #24305E; }

header {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 144px;
  background-color: #eae0c7; }

#header-img {
  width: 130px;
  height: 130px; }

div.main {
  margin: 0 auto;
  padding-top: 166px;
  background-color: #F76C6C;
  width: 1238px;
  height: 3275px; }
